.header {
  color: var(--primary);
  font-weight: 800;
  text-align: center;
}

.button {
  padding: 10px 10px;
  border-radius: 5px;
  background-color: var(--accentBlue);
  border: none;
  color: #fff;
  transition: all var(--transition);
}

.input {
  border-radius: 5px;
  border: 1px solid var(--secondary);
  padding: 9px 5px;
  margin-right: 20px;
  margin-left: 10px;
}
