.listItem {
  display: grid;
  grid-template-columns: 3fr 3fr 1fr 1fr;
  gap: 5px;
  align-items: center;
  margin-bottom: 8px;
  color: var(--secondary);
}

.button {
  composes: button from 'composesStyles/composes.css';
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button:hover {
  background-color: var(--hoverBlue);
  box-shadow: var(--shadowBtn);
  cursor: pointer;
}
.buttonFetching {
  composes: button from 'composesStyles/composes.css';
  background-color: rgb(238, 118, 118);
}
