@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


body {
  margin: 0;
font-family: 'Fruktur', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --primary: #212121;
  --secondary: #252424;
  --accentBlue: #0482f7bd;
  --hoverBlue: #0382f8;
  --shadowBtn: 5px 5px 8px 0px rgba(14, 24, 32, 0.658);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --outlineInput: 0px 0px 1px 1px var(--hoverBlue);
}
